.QWidget
{
    background-color:white ;
}
QWidget#SysAdmForm>QWidget#widget
{
background-color:rgb(44, 59, 66) ;
}

QWidget#SysAdmForm>QWidget#widget>QPushButton {
    border: none;
    background-color:rgb(44, 59, 66) ;
    min-width:160px;
    min-height: 40px;
    font: Cantarell;
    color: white;
}

QWidget#SysAdmForm>QWidget#widget>QFrame {
    border: 1px;
    background-color:#354146 ;
}

QWidget#SysAdmForm>QWidget#widget>QPushButton:checked {
    background-color: #5c9e9d;
}


